<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--</head>-->
<!--<body>-->

<!--<main role="main" class="container">-->
<!--    <div class="starter-template">-->
<!--        <a href='/Question/Index'>Question</a> |-->
<!--        <a href='/Question/Create'>Create Q</a> |-->
<!--        <a href='/User/Register'>Register</a> | -->

<!--        &lt;!&ndash; Show 'Logout' and user name if authenticated. &ndash;&gt;-->
<!--        <%if (reqInfo.authenticated) { %>-->
<!--          <a href='/User/Logout'>Logout</a> [<%= reqInfo.username %>]-->

<!--        &lt;!&ndash; 'else' must be in separate section with curly brackets to work. &ndash;&gt;-->
<!--        <% } else { %>-->
<!--          <a href='/User/Login'>Login</a>-->
<!--        <% } %>-->

<!--        &lt;!&ndash; Child view goes here. &ndash;&gt;-->
<!--        <%- body %>-->
<!--    </div>-->
<!--</main>-->

<!--</body>-->
<!--</html>-->
