<div class="body">
    <div class="question-card">
        <h2>{{_question?.title}}</h2>
        <p class="question-card-text pt-2">{{_question?.contents}}</p>
    </div>
    <p class="text-muted text-right mr-2">
        Course: {{_question?.course.code}}<br>
        Asked by: {{_question?.user?.username}} &bull; {{_question?.date | date: 'medium'}}
    </p>    

    <div class="card">
        <div class="card-body" *ngFor="let reply of _repliesArray">
            <p class="card-text">{{reply.contents}}</p>
            <p class="card-text text-right">
            <span class="text-muted reply">{{reply.user.username}} &bull; {{reply.date | date: 'short'}}</span>
            <br>
            <span *ngIf="reply.user.username === this._sessionUsername || this._sessionRoles?.includes('admin') || this._sessionRoles?.includes('instructor')">
                <a href="" onclick="return false;" (click)="deleteReply(reply.id)">Delete reply</a>
            </span>
            </p>
        </div>
    </div>
    <CreateReplyComponent [_questionID]="_questionID" (replyCreated)="appendReply($event)"></CreateReplyComponent>
</div>