#custom-nav {
    box-shadow: 0 1px 5px rgba(0, 0, 0, .15);
    background-color: #478dc6 !important;
}

#chatroom-button {
    position: absolute;
    bottom: 8px;
    right: 8px;
    height: 32px;
    width: 32px;
}

#chatroom {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 6vh;
    bottom: 6vh;
    width: 40vw;
    border-radius: 6px;
    background-color: #FEFEFE;
    -webkit-box-shadow: 10px 10px 30px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 30px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 30px -15px rgba(0, 0, 0, 0.75);
    height: 70vh;
    z-index: 100;
}

#chatroom h5 {
    border-radius: 6px 6px 0px 0px;
    text-align: center;
    padding: 8px;
    background-color: #FF8C00;
    color: #fbfbfb;
}

#chatroom>div {
    overflow-y: scroll;
    padding-left: 8px;
    padding-right: 8px;
    flex-grow: 1
}

#chatroom p {
    margin-top: 2px;
    margin-bottom: 0px;
    padding: 6px;
    font-size: 12px;
}

#chat-replies-div {
    display: flex;
    flex-direction: column;
}

.username-span {
    font-size: 10px;
    display: block;
    margin-bottom: 6px;
    margin-left: 4px;
    margin-right: 4px;
}

.userMessage {
    background-color: #42A5F5;
    color: #f3f3f3;
    border-radius: 6px;
    margin-left: auto;
}

.otherMessage {
    background-color: #F0F2F6;
    color: #333;
    border-radius: 6px;
    margin-right: auto;
}

#textbox {
    resize: none;
    font-size: 12px;
}

.send-button {
    border-radius: 0px 0px 6px 6px;
    border: 1px solid lightgray;
}

@media only screen and (max-width: 600px) {
    #chatroom {
        width: 90vw;
    }
}